body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
}

.hero {
    display: flex;
    background-color: #1F2937;
}

.header {
    display: flex;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary,
.header-links {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
}