body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.hero {
    display:flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
}

.header {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 150px;

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero-content {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
    align-self: stretch;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}

.main-text span {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    display: block;
}

.hero-secondary,
.right-links {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: none;
    font-size: large;
}

.hero-secondary span {
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 200px;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px;
}

.small-content {
    display: flex;
    gap: 52px;
}

.info {
   max-width: 180px;
}

.small-text {
    margin-top: 8px;
}

.quote-content {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 545px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 0;
}

.author {
    text-align: right;
    font-weight: bold;
    padding-right: 40px;
    font-size: 24px;
}

.cto-content {
    display: flex;
    background-color: #3882F6;
    margin: 75px 425px;
    padding: 50px;
    justify-content: space-evenly;
    border-radius: 10px;
}

.second-button {
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    padding: 8px 38px
}

.cto-text {
    color: white;
}

.cto-headline {
    font-weight: bold;
    font-size: 24px;
}